<br />
<div class="container-fluid shadow">

  You are here: Home / Graph View
  <br /><br />
  <span class="login100-form-title1 p-b-5 p-t-5" style="color: #252525;">
    Welcome to the Survey Deck!
  </span>
  <hr />
  <div class="row">
    <div class="col-md-3 p-2">
      <p-tree class="fullwidth" [style]="{
        'min-height': '25em',
        'max-height': '25em',
        'border':'1px solid #eeeeee',
        overflow: 'auto'
      }" [value]="menuTree" [(selection)]="selectedMenu" selectionMode="single"
        (onNodeSelect)="nodeSelect(selectedMenu)">
      </p-tree>
    </div>
    <div class="col-md-8 p-2">
      <div class="bgWhite pr-2" style="border: 1px solid #eeeeee;height: 400px; width: auto;" [chart]="Line_chart">
      </div>
    </div>
  </div>
</div>
