<!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark" id="menuId" style="background-color: #1133A0 !important; padding: 0 !important;">
  
  <a class="navbar-brand" href="#" style="background-color: #0043EA;">
    <img src="../assets/images/Logo.jpg" width="300px;" />
  </a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="fa fa-tachometer"></span>&nbsp;&nbsp; Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="fa fa-shopping-basket"></span>&nbsp;&nbsp; eCommerce</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="fa fa-trophy"></span>&nbsp;&nbsp; Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="fa fa-file"></span>&nbsp;&nbsp; Pages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="fa fa-desktop"></span>&nbsp;&nbsp; UI Elements</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->


<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="menuId" style="background-color: #1133A0 !important; padding: 0 !important;">
  
    <a class="navbar-brand" href="dashboard" style="background-color: #0043EA;">
      <img src="../assets/images/Logo.jpg" width="300px;" />
    </a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0 h-100" style="border:1px solid red; height: 100% !important;">
            <img src="../assets/images/Logo.jpg" width="300px;" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

</nav> -->


<div class="page-wrapper" id="menuId" style="overflow: visible;">

  <header class="header-desktop3 d-none d-lg-block">
    <div class="section__content" style="border: 0px solid orange; height: 100%;">
      <div class="header3-wrap">

        <div class="header__logo">
          <a href="#">
            <img src="../assets/images/Logo.jpg" width="78%" alt="Survey Deck">
          </a>
        </div>

        <div class="header__navbar">
          <ul class="list-unstyled">

            <li>
              <a routerLink="/dashboard">
                <i class="fa fa-tachometer"></i>Dashboard
                <span class="bot-line"></span>
              </a>
            </li>

            <li>
              <a routerLink="/importsurveyresult">
                <i class="fa fa-shopping-basket"></i>
                <span class="bot-line"></span>About</a>
            </li>

            <li>
              <a href="#">
                <i class="fa fa-trophy"></i>
                <span class="bot-line"></span>Features</a>
            </li>

            <li class="has-sub">
              <a href="#">
                <i class="fa fa-copy"></i>
                <span class="bot-line"></span>Pages</a>

              <ul class="header3-sub-list list-unstyled">
                <li>
                  <a href="#">Login</a>
                </li>
                <li>
                  <a href="#">Register</a>
                </li>
                <li>
                  <a href="#">Forget Password</a>
                </li>
              </ul>
            </li>

            <li class="has-sub">
              <a href="#">
                <i class="fa fa-desktop"></i>
                <span class="bot-line"></span>UI Elements</a>
              <ul class="header3-sub-list list-unstyled">
                <li>
                  <a href="#">Button</a>
                </li>
                <li>
                  <a href="#">Badges</a>
                </li>
                <li>
                  <a href="#">Tabs</a>
                </li>
                <li>
                  <a href="#">Cards</a>
                </li>
                <li>
                  <a href="#">Alerts</a>
                </li>
                <li>
                  <a href="#">Progress Bars</a>
                </li>
                <li>
                  <a href="#">Modals</a>
                </li>
                <li>
                  <a href="#">Switchs</a>
                </li>
                <li>
                  <a href="#">Grids</a>
                </li>
                <li>
                  <a href="#">FontAwesome</a>
                </li>
                <li>
                  <a href="#">Typography</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="header__tool">

          <div class="header-button-item has-noti js-item-menu" id="userNotiMenu" (click)="showUserNotiMenu()">
            <i class="zmdi zmdi-notifications"></i>
            <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
              <div class="notifi__title">
                <p>You have 3 Notifications</p>
              </div>
              <div class="notifi__item">
                <div class="bg-c1 img-cir img-40">
                  <i class="zmdi zmdi-email-open"></i>
                </div>
                <div class="content">
                  <p>You got a email notification</p>
                  <span class="date">April 12, 2018 06:50</span>
                </div>
              </div>
              <div class="notifi__item">
                <div class="bg-c2 img-cir img-40">
                  <i class="zmdi zmdi-account-box"></i>
                </div>
                <div class="content">
                  <p>Your account has been blocked</p>
                  <span class="date">April 12, 2018 06:50</span>
                </div>
              </div>
              <div class="notifi__item">
                <div class="bg-c3 img-cir img-40">
                  <i class="zmdi zmdi-file-text"></i>
                </div>
                <div class="content">
                  <p>You got a new file</p>
                  <span class="date">April 12, 2018 06:50</span>
                </div>
              </div>
              <div class="notifi__footer">
                <a href="#">All notifications</a>
              </div>
            </div>
          </div>

          <div class="header-button-item js-item-menu " id="userSettingMenu" (click)="showUserSettingMenu()">
            <i class="zmdi zmdi-settings"></i>
            <div class="setting-dropdown js-dropdown">
              <div class="account-dropdown__body">
                <div class="account-dropdown__item">
                  <a href="#">
                    <i class="zmdi zmdi-account"></i>Account</a>
                </div>
                <div class="account-dropdown__item">
                  <a href="#">
                    <i class="zmdi zmdi-settings"></i>Setting</a>
                </div>
                <div class="account-dropdown__item">
                  <a href="#">
                    <i class="zmdi zmdi-money-box"></i>Billing</a>
                </div>
              </div>

              <div class="account-dropdown__body">
                <div class="account-dropdown__item">
                  <a href="#">
                    <i class="zmdi zmdi-globe"></i>Language</a>
                </div>
                <div class="account-dropdown__item">
                  <a href="#">
                    <i class="zmdi zmdi-pin"></i>Location</a>
                </div>
                <div class="account-dropdown__item">
                  <a href="#">
                    <i class="zmdi zmdi-email"></i>Email</a>
                </div>
                <div class="account-dropdown__item">
                  <a href="#">
                    <i class="zmdi zmdi-notifications"></i>Notifications</a>
                </div>
              </div>
            </div>
          </div>

          <div class="account-wrap">
            <div class="account-item account-item--style2 clearfix js-item-menu" id="userNameMenu">

              <div class="image" (click)="showUserNameMenu()">
                <img src="../assets/theme_component1/files/avatar-01.jpg" alt="John Doe">
              </div>

              <div class="content" (click)="showUserNameMenu()">
                <a class="js-acc-btn">john doe</a>
              </div>

              <div class="account-dropdown js-dropdown">
                <div class="info clearfix">
                  <div class="image">
                    <a href="#">
                      <img src="../assets/theme_component1/files/avatar-01.jpg" alt="John Doe">
                    </a>
                  </div>
                  <div class="content">
                    <h5 class="name">
                      <a href="#">john doe</a>
                    </h5>
                    <span class="email">johndoe@example.com</span>
                  </div>
                </div>

                <div class="account-dropdown__body">
                  <div class="account-dropdown__item">
                    <a href="#">
                      <i class="zmdi zmdi-account"></i>Account</a>
                  </div>
                  <div class="account-dropdown__item">
                    <a href="#">
                      <i class="zmdi zmdi-settings"></i>Setting</a>
                  </div>
                  <div class="account-dropdown__item">
                    <a href="#">
                      <i class="zmdi zmdi-money-box"></i>Billing</a>
                  </div>
                </div>

                <div class="account-dropdown__footer">
                  <a (click)="Logout()"><i class="zmdi zmdi-power"></i>Logout</a>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </header>




  <header class="header-mobile header-mobile-2 d-block d-lg-none">

    <div class="header-mobile__bar">

      <div class="container-fluid" style="padding: 0;">
        <div class="header-mobile-inner">
          <a class="logo text-left" routerLink="/dashboard">
            <img src="../assets/images/Logo.jpg" width="80%" alt="Survey Deck">
          </a>

          <button class="hamburger hamburger--slider m-r-5" type="button" (click)="showMobMenu()">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>

    </div>

    <nav class="navbar-mobile">
      <div class="container-fluid">
        <ul class="navbar-mobile__list list-unstyled">

          <li class="has-sub">
            <a class="js-arrow" href="#">
              <i class="fa fa-tachometer"></i>Dashboard</a>
            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
              <li>
                <a href="#">Dashboard 1</a>
              </li>
              <li>
                <a href="#">Dashboard 2</a>
              </li>
              <li>
                <a href="#">Dashboard 3</a>
              </li>
              <li>
                <a href="#">Dashboard 4</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-shopping-basket"></i>eCommerce</a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-trophy"></i>Features</a>
          </li>

          <li class="has-sub">
            <a class="js-arrow" href="#">
              <i class="fa fa-copy"></i>Pages</a>
            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
              <li>
                <a href="#">Login</a>
              </li>
              <li>
                <a href="#">Register</a>
              </li>
              <li>
                <a href="#">Forget Password</a>
              </li>
            </ul>
          </li>

          <li class="has-sub">
            <a class="js-arrow" href="#">
              <i class="fa fa-desktop"></i>UI Elements</a>
            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
              <li>
                <a href="#">Button</a>
              </li>
              <li>
                <a href="#">Badges</a>
              </li>
              <li>
                <a href="#">Tabs</a>
              </li>
              <li>
                <a href="#">Cards</a>
              </li>
              <li>
                <a href="#">Alerts</a>
              </li>
              <li>
                <a href="#">Progress Bars</a>
              </li>
              <li>
                <a href="#">Modals</a>
              </li>
              <li>
                <a href="#">Switchs</a>
              </li>
              <li>
                <a href="#">Grids</a>
              </li>
              <li>
                <a href="#">Fontawesome Icon</a>
              </li>
              <li>
                <a href="#">Typography</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

  </header>

  <div class="sub-header-mobile-2 d-block d-lg-none">
    <div class="header__tool">

      <div class="header-button-item has-noti js-item-menu" id="userMobNotiMenu" (click)="showMobUserNotiMenu()">
        <i class="zmdi zmdi-notifications"></i>
        <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
          <div class="notifi__title">
            <p>You have 3 Notifications</p>
          </div>
          <div class="notifi__item">
            <div class="bg-c1 img-cir img-40">
              <i class="zmdi zmdi-email-open"></i>
            </div>
            <div class="content">
              <p>You got a email notification</p>
              <span class="date">April 12, 2018 06:50</span>
            </div>
          </div>
          <div class="notifi__item">
            <div class="bg-c2 img-cir img-40">
              <i class="zmdi zmdi-account-box"></i>
            </div>
            <div class="content">
              <p>Your account has been blocked</p>
              <span class="date">April 12, 2018 06:50</span>
            </div>
          </div>
          <div class="notifi__item">
            <div class="bg-c3 img-cir img-40">
              <i class="zmdi zmdi-file-text"></i>
            </div>
            <div class="content">
              <p>You got a new file</p>
              <span class="date">April 12, 2018 06:50</span>
            </div>
          </div>
          <div class="notifi__footer">
            <a href="#">All notifications</a>
          </div>
        </div>
      </div>

      <div class="header-button-item js-item-menu" id="userMobSettingMenu" (click)="showMobUserSettingMenu()">
        <i class="zmdi zmdi-settings"></i>
        <div class="setting-dropdown js-dropdown">
          <div class="account-dropdown__body">
            <div class="account-dropdown__item">
              <a href="#">
                <i class="zmdi zmdi-account"></i>Account</a>
            </div>
            <div class="account-dropdown__item">
              <a href="#">
                <i class="zmdi zmdi-settings"></i>Setting</a>
            </div>
            <div class="account-dropdown__item">
              <a href="#">
                <i class="zmdi zmdi-money-box"></i>Billing</a>
            </div>
          </div>
          <div class="account-dropdown__body">
            <div class="account-dropdown__item">
              <a href="#">
                <i class="zmdi zmdi-globe"></i>Language</a>
            </div>
            <div class="account-dropdown__item">
              <a href="#">
                <i class="zmdi zmdi-pin"></i>Location</a>
            </div>
            <div class="account-dropdown__item">
              <a href="#">
                <i class="zmdi zmdi-email"></i>Email</a>
            </div>
            <div class="account-dropdown__item">
              <a href="#">
                <i class="zmdi zmdi-notifications"></i>Notifications</a>
            </div>
          </div>
        </div>
      </div>

      <div class="account-wrap" id="userMobNameMenu" (click)="showMobUserNameMenu()">
        <div class="account-item account-item--style2 clearfix js-item-menu">
          <div class="image">
            <img src="../assets/theme_component1/files/avatar-01.jpg" alt="John Doe" style="border: 1px solid red;">
          </div>
          <div class="content">
            <a class="js-acc-btn">john doe</a>
          </div>
          <div class="account-dropdown js-dropdown">
            <div class="info clearfix">
              <div class="image">
                <a href="#">
                  <img src="../assets/theme_component1/files/avatar-01.jpg" alt="John Doe">
                </a>
              </div>
              <div class="content">
                <h5 class="name">
                  <a>john doe</a>
                </h5>
                <span class="email">johndoe@example.com</span>
              </div>
            </div>
            <div class="account-dropdown__body">
              <div class="account-dropdown__item">
                <a href="#">
                  <i class="zmdi zmdi-account"></i>Account</a>
              </div>
              <div class="account-dropdown__item">
                <a href="#">
                  <i class="zmdi zmdi-settings"></i>Setting</a>
              </div>
              <div class="account-dropdown__item">
                <a href="#">
                  <i class="zmdi zmdi-money-box"></i>Billing</a>
              </div>
            </div>
            <div class="account-dropdown__footer" (click)="Logout()">
              <a>
                <i class="zmdi zmdi-power"></i>Logout</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>





</div>


<router-outlet></router-outlet>

<ngx-spinner bdOpacity="0.9" bdColor="rgba(51,51,51,0.91)" size="medium" color="#ff871c"
  type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="color: white;">Loading...</p>
</ngx-spinner>
